<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copy 2025 LIU AI LAB.</p>
              <p>We are part of the <a href="https://cs.auckland.ac.nz/">School of Computer Science</a> at <a href="https://www.auckland.ac.nz/">University of Auckland</a>.</p>
			  <div style="display: flex; align-items: center; gap: 20px;">
				<img src="{{ site.url }}{{ site.baseurl }}/images/logopic/uoa-logo.png" style="width: 300px">
				</div>




		   <p>  </p><p>
            		  
            
		</div>
		
		<div class="col-sm-4">
		  Contact:<br />
		  Jiamou Liu<br />
		  jiamou.liu@auckland.ac.nz<br />
		  School of Computer Science<br />
		  The University of Auckalnd, Newmarket Campus<br />
		  Building 903, 262 KHYBER PASS, Nermarket,<br />
		  Auckland<br />
		  1023, New Zealand <br />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
